@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button id="button1" onclick="getFromApi()">Api button post</button>
    <button id="button2" onclick="getFromApi2()">Api button get</button>
    <button id="button3" onclick="getFromApi3()">Api button single</button>
    <p id="p1" >tekst testowy przed zmianą</p>
</div>
